    background-image: linear-gradient(rgb(173, 216, 230), rgb(230, 201, 173));
    background-image: linear-gradient(rgb(161, 196, 253), rgb(194, 233, 251));
    background-image: linear-gradient(rgb(255, 154, 158), rgb(250, 208, 196));
    background-image: linear-gradient(rgb(168, 230, 207), rgb(220, 237, 193));
    background-image: linear-gradient(rgb(205, 164, 255), rgb(143, 211, 244));
    background-image: linear-gradient(rgb(33, 147, 176), rgb(109, 213, 237));